h1 {
  color:red;
  font-family:cursive;
  font-size:450%;
}

button {
  background:red;
  border-radius: 99%;
  color:gold;
  font-size:75%;
  margin:1rem;
  padding:1.3rem;
  text-align:center;
}

body {
  background:red;
}

p {
  padding:0.8rem 0.2rem;
}

.container {
  background:gold;
  border:6px solid red;
  border-radius:15%;
  margin:0 auto;
  position:relative;
  text-align:center;
  top:44%;
  transform:translateY(-50%);
  width:44%;
}

.st {
  color:red;
  font-size:1.3rem;
  font-weight:bolder;
}
