h1 {
  color:red;
}

button {
  background:green;
  color:white;
  margin:1rem;
}
.container {
  border:2px solid red;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
  margin:0 auto;
  text-align:center;
  width:50%;
}
